.transaction-history h3{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

.list{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.list li{
    background-color: rgba(245, 245, 245, 0.705);
    box-shadow: var(--box-shadow);
    color: grey;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 20px;
}

.income-h{
    border-right: 5px solid var(--plus);
}

.income-h:hover{
    background-color: var(--plus);
    color: black;
}

.expense-h{
    border-right: 5px solid var(--minus);
}

.expense-h:hover{
    background-color: var(--minus);
    color: black;
}

.del{
    background-color:red;
    border: none;
    color: white;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%,-50%);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.list li:hover .del{
    opacity: 1;
}