.addTransaction h3{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

.form-control label {
    display: inline-block;
    margin: 10px 0;
}

.form-control input {
    border: 1px solid lightgray;
    border-radius: 15px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus{
    outline: none;
}

.btn{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.add-income {
    background-color: var(--plus);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    color: white;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 10px;
    width: 35%;
    padding: 10px;
}

.add-expense {
    background-color: var(--minus);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    color: white;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 10px;
    width: 35%;
    padding: 10px;
}

.btn button:hover{
    cursor: pointer;
}

.btn button:focus{
    outline: 0;
}

.smallSuccess{
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.smallError{
    color: var(--error-color);
    bottom: 0;
    left: 0;
    visibility: visible;
}